APP_SERVICES_AUTH_SECRET_KEY="fbu923907g5tg0972rh272g702gu935t09hh9f29v0bv29072f"
DATABASE_DSN=postgres://user:password@postgres:5432/booking_db?sslmode=disable
DATABASE_URL=postgres://user:password@localhost:5432/booking_db?sslmode=disable

REDIS_PASSWORD=some_long_password_789226_HGYUFh


POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=booking_db